# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
example/lights
example/example
src/github.com/MichaelTJones/
src/github.com/acroca/
src/github.com/cweill/
src/github.com/fatih/
src/github.com/golang/
src/github.com/haya14busa/
src/github.com/josharian/
src/github.com/nsf/
src/github.com/ramya-rao-a/
src/github.com/rogpeppe/
src/github.com/skratchdot/
src/github.com/sqs/
src/github.com/uudashr/
src/golang.org/
src/sourcegraph.com/
bin/
pkg/
